In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

In [8]:
# import data
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Raw Data/cancer.csv')
df.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [9]:
# convert string values in diagnosis to numeric values
df['diagnosis'] = df['diagnosis'].replace({'B': 0, 'M': 1})

In [12]:
# declare Target vector(y) and Features Matrix(X)
y = df['diagnosis']
X = df.drop(columns = ['diagnosis', 'id'])

In [13]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [28]:
# instantiate decision tree model
tree = DecisionTreeClassifier(max_depth = 3, random_state = 42)
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=42)

In [51]:
# test tree model
train_score = tree.score(X_train, y_train)
test_score = tree.score(X_test, y_test)
print('Training Score:', train_score)
print('Test Score:', test_score)

Training Score: 0.971830985915493
Test Score: 0.958041958041958

In [47]:
# instantiate Bagging classifier
bag = BaggingClassifier(n_estimators = 15, random_state = 42)
bag.fit(X_train, y_train)
bag.predict(X_test)

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0])

In [48]:
# test Bagging classifier
bag_train = bag.score(X_train, y_train)
bag_test = bag.score(X_test, y_test)
print('Training Score:', bag_train)
print('Test Score:', bag_test)

Training Score: 0.9929577464788732
Test Score: 0.958041958041958

In [75]:
# instantiate Random Forest
forest = RandomForestClassifier(max_depth = 5, n_estimators = 20, random_state = 42)
forest.fit(X_train, y_train)
forest.predict(X_test)

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0])

In [76]:
# test Random Forest
rf_train = forest.score(X_train, y_train)
rf_test = forest.score(X_test, y_test)
print('Training Score:', rf_train)
print('Test Score:', rf_test)

Training Score: 0.9953051643192489
Test Score: 0.972027972027972